name: Greetings

on:
  pull_request:
  issues:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  issues: write
  pull-requests: write

jobs:
  greetings:
    uses: the-lupaxa-project/.github/.github/workflows/reusable-greetings.yml@master
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
